body{
	background:url(imagens/imagemderede.jpg);
	background-repeat: no-repeat;
	background-size:90%;

}
	
h1{
	font-family:Arial black;
	text-align:center;
	font-size: 50px;
	color:#000;	
}

.ft{
	border-radius: 50%;
}

p{
	font-size: 30px;
	color:#800080;
}